@{
    ViewBag.Title = "DepartmentAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col text-center">
                    <h2>Departman Ekleme</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="formcontrol1" class="form-label">Departman Adı</label>
                    <input type="text" name="DepartmentName" class="form-control" id="formcontrol1" placeholder="">
                </div>
                <div class="col-12 mb-3 text-center">
                    <button type="submit" class="btn btn-outline-success">Ekle</button>
                </div>
            </div>
        </div>
    </section>
</form>

@*<div class="container mt-3">
        <div class="row text-center mb-2">
            <div class="col">
                <h2>Departman Ekleme</h2>
            </div>
        </div>
        <div class="row text-start">
            <form class="form-group" method="post">
                <div class="col-12 mb-3">
                    <label for="formcontrol1" class="form-label">Departman Adı</label>
                    <input type="text" name="DepartmentName" class="form-control" id="formcontrol1" placeholder="">
                </div>
                <div class="col-12 mb-3 text-end">
                    <button type="submit" class="btn btn-outline-success">Ekle</button>
                </div>
            </form>
        </div>
    </div>*@