@using MvcOnlineTicariOtomasyon.Models
@model List<Message>

@foreach (var item in Model)
{
    <div class="tab-pane" id="timeline">
        <div class="timeline timeline-inverse">
            <div class="time-label">
                <span class="bg-info">
                    @item.Date.ToShortDateString()
                </span>
            </div>
            <div>
                <i class="fas fa-envelope bg-primary"></i>

                <div class="timeline-item">
                    <span class="time"><i class="far fa-clock"></i> @item.Date.ToShortTimeString()</span>

                    <h3 class="timeline-header">@item.Subject @*<a href="#">Support Team</a> sent you an email*@</h3>

                    <div class="timeline-body">
                        @(item.Content.Length <= 40 ? item.Content : item.Content.Substring(0, 40) + "...")
                    </div>
                    <div class="timeline-footer">
                        <a href="#" class="btn btn-primary btn-sm">Devamını Oku</a>
                        <a href="#" class="btn btn-danger btn-sm">Sil</a>
                    </div>
                </div>
            </div>
            <div>
                <i class="far fa-clock bg-gray"></i>
            </div>
        </div>
    </div>
}
