@using MvcOnlineTicariOtomasyon.Models
@model List<ToDoList>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            Yapılacaklar Listesi
        </h3>

        @*<div class="card-tools">
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <a href="#" class="page-link">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">2</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">3</a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link">&raquo;</a>
                    </li>
                </ul>
            </div>*@
    </div>
    <div class="card-body">
        <ul class="todo-list" data-widget="todo-list">
            @{ int rowNumber = 0;}
            @foreach (var item in Model)
            {

                rowNumber++;
                <li>
                    <span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                    <div class="icheck-primary d-inline ml-2">
                        <input type="checkbox"
                               value=""
                               name="todo1"
                               id="@rowNumber" />
                        <label for="@rowNumber"></label>
                    </div>
                    <span class="text">@item.ToDoListTitle</span>
                    @*<small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>*@
                    @*<div class="tools">
                            <i class="fas fa-edit"></i>
                            <i class="fas fa-trash-o"></i>
                        </div>*@
                </li>
            }
        </ul>
    </div>
    <div class="card-footer clearfix">
        <button type="button" class="btn btn-primary float-right">
            <i class="fas fa-plus"></i> Yeni Ekle
        </button>
    </div>
</div>